/** @format */

.about {
  padding: 5rem 7rem;

  &_head {
    padding: 2rem;

    &-heading {
      color: #121212;
      line-height: 1.2;
    }

    &-span {
      font-size: 4rem;
      line-height: 1.2;

      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #3a3a3a;
    }
  }

  &_desc {
    padding: 2rem;
    color: #3a3a3a;

    &-para {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 1.8;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    padding: 3rem;
  }
}

.download {
  padding: 2rem;

  &-btn {
    display: inline-block;

    font-size: 2rem;
    font-weight: 500;
    font-style: italic;

    color: #f5f5f5;
    background-color: #3a3a3a;

    transition: all 0.2s ease;
    appearance: none;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0 1.5rem #121212;
    }
  }
}
