/** @format */

.nav {
  position: relative;

  &_checkbox {
    display: none;
  }
}

.navbar {
  position: fixed;
  top: 2.7rem;
  right: 10rem;
  height: 4rem;

  background-color: rgba(18, 18, 18, 0.5);

  @supports (-webkit-backdrop-filter: blur(2rem) brightness(50%)) or
    (backdrop-filter: blur(2rem) brightness(50%)) {
    -webkit-backdrop-filter: blur(2rem) brightness(50%);
    backdrop-filter: blur(2rem) brightness(50%);
  }

  @supports not (
    (-webkit-backdrop-filter: blur(2rem) brightness(50%)) or
      (backdrop-filter: blur(2rem) brightness(50%))
  ) {
    background-color: rgba(18, 18, 18, 0.9);
  }

  border-radius: 0rem;
  border: none;
  opacity: 0;

  display: none;

  justify-content: center;
  align-items: center;

  transition: all 0.5s ease-in-out;
  z-index: 1000;

  @media only screen and (max-width: $bp-small) {
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  &-list {
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.1;

    border-radius: none;
    border: none;

    &-item {
      @media only screen and (max-width: $bp-small) {
        display: block;
        padding: 2rem 1.5rem;
      }

      &:not(:last-child) {
        padding-right: 1.5rem;
      }
    }

    &-link {
      color: #f5f5f5;
      transition: all 0.3s ease-in;

      &:hover {
        color: #121212;
        background-color: #f5f5f5;
      }
    }
  }
}

.nav_burger {
  position: fixed;
  top: 2.7rem;
  right: 2.5rem;
  width: 5rem;
  height: 4rem;
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1001;
  cursor: pointer;
}

.burger {
  background-color: #121212;
  position: relative;
  width: 3.5rem;
  height: 0.2rem;

  transition: all 0.3s ease-in-out;

  &::before,
  &::after {
    content: "";
    display: block;

    position: absolute;
    background-color: #121212;
    transition: all 0.5s ease-in-out;
  }

  &::before {
    transform: translateY(-0.7rem);
    width: 1.75rem;
    height: 0.2rem;
    right: 0;
  }
  &::after {
    transform: translateY(0.7rem);
    width: 1.75rem;
    height: 0.2rem;
  }
}

.nav_checkbox:checked ~ .navbar {
  opacity: 1;
  display: flex;
}

.nav_checkbox:checked ~ .nav_burger .burger {
  background-color: transparent;
}

.nav_checkbox:checked ~ .nav_burger .burger::before {
  transform: rotate(135deg);
  width: 3.5rem;
}

.nav_checkbox:checked ~ .nav_burger .burger::after {
  transform: rotate(-135deg);
  width: 3.5rem;
}
